.navbar {
  height: 50px; /* Adjust the height as needed */
  margin-top: 0;
  background-color: rgb(121, 55, 55) !important;
}

.content-container {
  padding-top: 50px; /* Match the navbar height */
}
